:root {
  --dark-color: #18171d;
  --regular-color: #1c1b22;
  --light-color: #3a3846;

  --second-light: #f88188;
  --second-regular: #f64f59;
  --second-dark: #af383f;

  --comp-regular: #ffae65;

  --text-regular: #f5f5f5;

  --gradient: linear-gradient(
    45deg,
    var(--second-regular),
    var(--comp-regular)
  );

  --gradient-r: linear-gradient(
    45deg,
    var(--comp-regular),
    var(--second-regular)
  );

  --diagonal-x: 50%;
  --diagonal-y: 50%;

  --font-url: url(./assets/fonts/Raleway.ttf);
}
