@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway.ttf") format("truetype");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --dark-color: #18171d;
  --regular-color: #1c1b22;
  --light-color: #3a3846;

  --second-light: #f88188;
  --second-regular: #f64f59;
  --second-dark: #af383f;

  --comp-regular: #ffae65;

  --text-regular: #f5f5f5;

  --gradient: linear-gradient(
    45deg,
    var(--second-regular),
    var(--comp-regular)
  );
}

html {
  background: var(--regular-color);
}

body {
  font-family: Raleway;
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0;
}

.top-border {
  position: sticky;
  top: 0;
  z-index: 9999;
  filter: drop-shadow(1.25rem 0 5px var(--dark-color));
  width: 100%;
  height: 0.25rem;
  background: linear-gradient(
    45deg,
    var(--second-dark),
    var(--second-regular),
    var(--second-light)
  );
  background-size: 400% 400%;
  animation: top-bar-animation 10s ease infinite;
}

@keyframes top-bar-animation {
  0% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 100% 0%;
  }
}

header {
  height: 100vh;
  margin-bottom: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateY(-3rem);
}

.wrapper {
  max-width: 50rem;
  margin-inline: auto;
  padding-inline: 1rem;
}

.top-nav {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  height: 70px;
}

.top-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.top-nav a {
  color: #f5f5f5;
  display: block;
  padding: 10px 15px;
  font-size: 1.25rem;
  font-size: clamp(0.75rem, 2vw, 1.25rem);
  text-decoration: none;
  transition: all 0.2s ease;
}

.top-nav a:hover {
  color: var(--second-regular);
  transform: translateY(-3px);
  cursor: pointer;
}

.top-nav:focus {
  outline: none;
  border: 0;
}

.site-title {
  font-size: 3rem;
  font-size: clamp(0.75rem, 4vw, 3rem);
  text-align: center;
  padding-bottom: 1.5rem;
  margin: 0;
}

.section-title {
  font-size: 3rem;
  font-size: clamp(0.75rem, 6vw, 3rem);
  font-weight: 400;
}

.site-title p {
  margin: 0;
  font-weight: 200;
  color: var(--second-light);
}

.arrow-down {
  width: 6rem;
  width: clamp(3rem, 8vw, 6rem);
  height: 6rem;
  height: clamp(3rem, 8vw, 6rem);

  position: absolute;
  bottom: 10pt;
  left: 50%;
  transform: translateX(-50%);
}

.arrow-down svg {
  --start-color: var(--second-light);
  --end-color: var(--second-light);
  transform: rotate(90deg);
}

.spacer {
  width: 100%;
  margin-block: 10rem;
}

section {
  padding-block: 5rem;
  margin-bottom: 5rem;
}

.diagonal {
  --skew-angle: -5deg;

  position: relative;
  isolation: isolate;
  font-size: 1.5rem;
  font-size: clamp(0.75rem, 3vw, 1.5rem);
}

.diagonal::after {
  content: "";
  background: var(--gradient);
  position: absolute;
  z-index: -1;
  inset: 0;
  transform: skewY(var(--skew-angle));
  filter: drop-shadow(0 1rem 10px var(--dark-color));
}

.basic .section-title {
  color: var(--text-regular);
}

.basic p {
  color: var(--text-regular);
  font-size: 1.5rem;
  font-size: clamp(0.75rem, 3vw, 1.5rem);
}
