@font-face {
	font-family: 'Raleway';
	src: url('./fonts/Raleway.ttf') format('truetype');
}

:root {
  --dark-color: #212026;
  --regular-color: #2F2C32;
  --light-color: #423F45;
}

body {
  font-family: Raleway, sans-serif;
  background-color: var(--light-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  user-select: none;
}

header {
  background-color: var(--dark-color);
  color: #FCB43A;
  padding: 10px;
  text-align: center;
}

.letter-div {
  user-select: none;
  font-size: 0;
}

.letter {
  padding: 0;
  margin: 20px 0;
  font-family: Raleway;
  font-size: 66px;
  font-weight: 400;
  display: inline-block;
  transition: all 0.3s;
}

.letter.animate-hover {
  color: #F5F5F5;
  transform: translateY(-10px);
}

.letter.animate-small-hover {
  color: #ffcb8b;
  transform: translateY(-5px);
}

.top-nav {
  background-color: var(--regular-color);
  color: #F5F5F5;
  display: flex;
  justify-content: center;
}

.top-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.top-nav a {
  color: #F5F5F5;
  display: block;
  padding: 10px 15px;
  font-size: 18px;
  text-decoration: none;
  transition: all 0.2s ease;
}

.top-nav a:hover {
color: #ffc278;
  cursor: pointer;
}

.top-nav:focus {
  outline: none;
  border: 0;
}

#current {
  color: #FCB43A;
}

main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-color);
}

.center-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: #FCB43A;
}

.center-button ul {
  padding: 0;
  list-style-type: none;
}

.center-button li {
  font-size: 34px;
  width: 8em;
  height: 2em;
  border-left: 0.08em solid;
  position: relative;
  margin-top: 1.2em;
  cursor: pointer;
}

.center-button li::before,
.center-button li::after
{
  content: '';
  position: absolute;
  width: inherit;
  border-left: inherit;
  z-index: 1;
}

.center-button li::before {
  height: 80%;
  top: 10%;
  left: calc(-0.15em - 0.08em * 2);
  filter: brightness(80%);
}

.center-button li::after {
  height: 60%;
  top: 20%;
  left: calc(-0.15em * 2 - 0.08em * 3);
  filter: brightness(60%);
}

.center-button li span {
  position: relative;
  height: 120%;
  top: -10%;
  box-sizing: border-box;
  border: 0.08em solid;
  background-color: var(--regular-color);
  color: #FCB43A;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(calc(-0.15em * 3 - 0.08em * 2));
  transition: 0.3s;
  z-index: 2;
}

.center-button li:hover span {
  transform: translateX(0.15em);
}

.center-button a {
  color: #FCB43A;
  text-decoration: none;
}

footer {
background-color: var(--dark-color);
color: #F5F5F5;
padding: 10px;
text-align: center;
}