@font-face {
  font-family: "Raleway";
  src: var(--font-url) format("truetype");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background: var(--regular-color);
  overflow: hidden;
  height: 100%;
}

body {
  font-family: Raleway;
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0;
  height: 100%;
}

.top-border {
  position: sticky;
  top: 0;
  z-index: 9999;
  filter: drop-shadow(1.25rem 0 5px var(--dark-color));
  width: 100%;
  height: 0.25rem;
  background: linear-gradient(
    45deg,
    var(--second-dark),
    var(--second-regular),
    var(--second-light)
  );
  background-size: 400% 400%;
  animation: top-bar-animation 10s ease infinite;
}

@keyframes top-bar-animation {
  0% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 100% 0%;
  }
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.max-height {
  height: 100vh;
}

.top-stick {
  position: sticky;
  top: 0;
}

.wrapper {
  max-width: 50rem;
  margin-inline: auto;
  padding-inline: 1rem;
}

.site-title {
  font-size: 3rem;
  font-size: clamp(0.75rem, 4vw, 3rem);
  margin: 0;
}

.site-title p {
  margin: 0;
  font-weight: 200;
  color: var(--second-light);
}

.top-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  height: 70px;
  background-color: var(--dark-color);
}

.top-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.top-nav a {
  color: #f5f5f5;
  display: block;
  padding: 10px 15px;
  font-size: 1.25rem;
  font-size: clamp(0.75rem, 2vw, 1.25rem);
  text-decoration: none;
  transition: all 0.2s ease;
}

.top-nav a:hover {
  color: var(--second-light);
  transform: translateY(-3px);
  cursor: pointer;
}

.top-nav:focus {
  outline: none;
  border: 0;
}

.not-downloading {
  margin-top: 5rem;
  color: var(--comp-regular);
  cursor: pointer;
  transition: all 100ms ease-in;
}

.not-downloading:hover {
  color: var(--second-dark);
}
