*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background: var(--regular-color);
}

body {
  font-family: "Raleway";
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0;
  overflow-x: hidden;
}

.top-border {
  position: sticky;
  top: 0;
  z-index: 9999;
  filter: drop-shadow(1.25rem 0 5px var(--dark-color));
  width: 100%;
  height: 0.25rem;
  background: linear-gradient(
    45deg,
    var(--second-dark),
    var(--second-regular),
    var(--second-light)
  );
  background-size: 400% 400%;
  animation: top-bar-animation 10s ease infinite;
}

@keyframes top-bar-animation {
  0% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 100% 0%;
  }
}

.top-stick {
  position: sticky;
  top: 0;
}

.wrapper {
  max-width: 50rem;
  margin-inline: auto;
  padding-inline: 1rem;
}

.top-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  height: 70px;
}

.top-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.top-nav a {
  color: #f5f5f5;
  display: block;
  padding: 10px 15px;
  font-size: 1.25rem;
  font-size: clamp(0.75rem, 2vw, 1.25rem);
  text-decoration: none;
  transition: all 0.2s ease;
}

.top-nav a:hover {
  color: var(--second-light);
  transform: translateY(-3px);
  cursor: pointer;
}

.top-nav:focus {
  outline: none;
  border: 0;
}

.devider {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: clamp(15rem, 35vw, 35vw);
  background-color: var(--second-regular);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.img-border {
  border:  solid 2px var(--second-regular);
}

.site-title {
  text-align: center;
  font-size: clamp(1.5rem, 2.5vw, 6rem);
  color: var(--second-regular);
  font-weight: 400;
  margin-block: 1rem;
}

.basic-section {
  padding-block: 5rem;
  margin-bottom: 2.5rem;
}

.section-title-num {
  text-align: left;
  font-size: clamp(1.25rem, 2.5vw, 4rem);
  color: var(--second-regular);
  font-weight: 500;
  margin-block: 1rem;
}

.section-title {
  text-align: left;
  font-size: clamp(1rem, 2vw, 3.5rem);
  color: var(--second-regular);
  font-weight: 500;
  margin-block: 1rem;
}

.download-text {
  text-decoration: underline;
  color: var(--comp-regular);
}

.download-text:hover {
  cursor: pointer;
}
